/* google fonts  */
* {
    font-family: 'Work Sans', sans-serif;
    /* width: 1440px; */
}


.top-container {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header style starts here */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 240px 0px 228px;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.header-pages {
    display: flex;
    list-style: none;
    align-items: center;

}

.header-pages li {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* header style ends here  */

/* top banner style start here  */

.top-banner {
    text-align: center;
}

.top-banner h1 {
    font-size: 64px;
    font-weight: 700;
    /* text-align: center; */
    margin: 0;
}

.top-banner p {
    font-size: 16px;
    font-weight: 400;
}

.top-banner button {
    margin: 16px 0px 50px 0px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

.top-banner img {
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
}

/* top banner style ends here */
.middle-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px;
    column-gap: 73px;
}

.middle-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.middle-banner-heading h1 {
    margin-bottom: 24px;
}

.first {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.second {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.third {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.middle-banner-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.middle-banner-heading button {
    margin-top: 32px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}