/* google fonts  */
* {
    font-family: 'Work Sans', sans-serif;
    /* width: 1440px; */
}


.top-container {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header style starts here */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 240px 0px 228px;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.header-pages {
    display: flex;
    list-style: none;
    align-items: center;

}

.header-pages li {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* header style ends here  */

/* top banner style start here  */

.top-banner {
    text-align: center;
}

.top-banner h1 {
    font-size: 64px;
    font-weight: 700;
    /* text-align: center; */
    margin: 0px;
}

.top-banner p {
    font-size: 16px;
    font-weight: 400;
}

.top-banner button {
    margin: 16px 0px 50px 0px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

.top-banner img {
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
}

/* top banner style ends here */

/* middle banner starts here  */
.middle-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px;
    column-gap: 73px;
}

.middle-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.middle-banner-heading h1 {
    margin-bottom: 24px;
}

.first {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.second {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.third {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.middle-banner-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.middle-banner-heading button {
    margin-top: 32px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

/* middle banner ends here  */

/* feature details section start here  */
.line {
    width: 10px;
    background-color: #FF900E;
    height: 106px;
    margin-bottom: -145px;
}

.feature-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 54px;
}

.card-heading h1 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-left: 26px;
}

.card-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.card {
    width: 576px;
    height: 171px;
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

}

.card h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.feature-detail-img {
    width: 708px;
    height: 982px;
    background-image: url('/images/architect.png');
    background-repeat: no-repeat;
}

.card-experience {
    margin-top: 859px;
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    padding: 46px 42px 45px 42px;
}

.card-experience button {
    font-weight: 700;
    font-size: 65px;
    border: none;
    background-color: #FF900E;
    color: #FFFFFF;
    /* margin: 0; */
    /* text-align: end left; */
}

.card-experience span {
    font-size: 25px;
    font-weight: 500;
}

/* feature detail section ends here  */

/* some facts section start here  */

.facts {
    margin: 130px 0px 0px 0px;
}

.facts h1 {

    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin: 0px 0px 8px 0px;
}

.facts p {
    font-weight: 400;
    font-size: 16px;
}

.facts-stats {
    display: flex;
    align-items: center;
    gap: 124px;
}

.facts-stats-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 241px;
    height: 241px;
    padding: 45px 35px 59px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.facts-stats-detail img {
    width: 45px;
    height: 45px;
}

.facts-stats-detail h1 {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 10px 0px 5px 0px;
}

.facts-stats-detail p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    position: relative;
    animation-duration: 8s;
    animation-name: example;
    animation-timing-function: ease-in-out;
}

@keyframes example {
    0% {
        left: -1500px;
    }

    100% {
        left: 0px;
    }

}

/* some facts style ends here  */
.sponsor-heading {
    text-align: center;

}

.sponsor-heading h1 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin: 180px 0px 24px 0px;
}

.sponsor-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 50px;
}

.sponsor-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sponsor-logo img {
    width: 152px;
    height: 50px;
    mix-blend-mode: luminosity;
}

/* some facts ends here  */
/* stats starts here  */
.page-stats {
    width: 576px;
    height: 171px;
    margin: 0 auto;
    padding: 30px 42px 30px 30px;
    margin-bottom: 30px 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

}

.page-stats h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.page-stats p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

/* page stats ends here  */

/* footer style starts here  */
footer {
    text-align: center;
    background-color: #FFF4E7;
    margin: 130px 0px 216px 0px;
}

footer p {
    padding: 38px 0px 38px 0px;
}

/* footer style ends here  */

/* applying media query */

@media screen and (max-width:668px) {

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }

    .header-title {
        font-size: 30px;
        font-weight: 700;
        color: #131313;
    }

    .header-pages {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .top-banner h1 {
        font-size: 30px;
        font-weight: 700;
        /* text-align: center; */
        margin: 0;
    }

    .top-banner img {
        width: 90%;
        height: auto;
    }

    .middle-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
    }

    .first {
        font-size: 30px;
    }

    .second {
        font-size: 30px;
    }

    .third {
        font-size: 30px;
    }

    .middle-banner-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-detail {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 20px;
    }

    .line {
        width: 10px;
        background-color: #FF900E;
        height: 106px;
        margin-bottom: -110px;
    }

    .card-heading h1 {
        font-size: 30px;
        font-weight: 700;
        color: #131313;
        margin-left: 26px;
    }

    .card {
        width: 80%;
        height: auto;
    }

    .feature-detail-img {
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;

    }

    .card-experience {
        width: 77%;
        height: auto;
    }

    .facts-stats {
        display: flex;
        flex-direction: column;
    }

    .sponsor-heading h1 {
        font-size: 30px;
        text-align: center;

    }

    .sponsor-logo {
        display: flex;
        flex-direction: column;
    }

    .sponsor-logo img {
        margin-bottom: 20px;
    }

    .page-stats {
        width: 80%;
        height: auto;
    }

    .footer {
        margin: 0 auto;
    }
}