/* google fonts  */
* {
    font-family: 'Work Sans', sans-serif;
}

/* header style starts here */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 240px 0px 228px;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.header-pages {
    display: flex;
    list-style: none;
    align-items: center;

}

.header-pages li {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* header style ends here  */

/* top banner style start here  */